  <div class="container mt-5">
      <h1 class="text-center">รายชื่อสมาชิกในกลุ่ม</h1>
      <div class="row mt-5 text-center">
          <div class="col">
              <div class="card mx-auto card border-primary" style="width: 18.5rem;">
                  <img src="assets/teams/team01.jpg" class="card-img-top" alt="...">
                  <div class="card-body text-white">
                      <h5 class="card-title">นายพีระพัฒน์ เนตใน</h5>
                      <p class="card-text">เลขที่ 8 ระดับชั้น ปวส.1/5</p>
                      <a >พี</a>
                  </div>
              </div>
          </div>
    
          
          <div class="col">
              <div class="card mx-auto card border-white" style="width: 18.5rem;">
                  <img src="assets/teams/team02.png" class="card-img-top" alt="...">
                  <div class="card-body text-white">
                      <h5 class="card-title">นายโชติวัฒน์ ยศไธสง</h5>
                      <p class="card-text">เลขที่ 10 ระดับชั้น ปวส.1/5</p>
                      <a >เบส</a>
                  </div>
              </div>
          </div>
    
          <div class="col">
              <div class="card mx-auto card border-primary" style="width: 18.5rem;">
                  <img src="assets/teams/team03.png" class="card-img-top" alt="...">
                  <div class="card-body text-white">
                      <h5 class="card-title">นายอภิชิต แพร่สาร</h5>
                      <p class="card-text">เลขที่ 1 ระดับชั้น ปวส.1/5</p>
                      <a >บอม</a>
                  </div>
              </div>
          </div>

          <div class="col">
              <div class="card mx-auto card border-primary" style="width: 18.5rem;">
                  <img src="assets/teams/team04.png" class="card-img-top" alt="...">
                  <div class="card-body text-white">
                      <h5 class="card-title">สันติสุข เย็นศิลป์</h5>
                      <p class="card-text">เลขที่ 2 ระดับชั้น ปวส.1/5</p>
                      <a >บาส</a>
                  </div>
              </div>
          </div>